/* @import url('/fonts/melodrama.css');
@import url('/fonts/nunito.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6, .display {
    font-family: 'General Sans', sans-serif;

}
body{
    font-family: 'Gambetta', serif;
    overflow-x: hidden;
}
html .dark{
    background-color: #1a1a1a;
    color: #fff;
}
    /* Styles for links */
    .content a {
        color: #007bff; /* Change link color */
        text-decoration: underline; /* Add underline to links */
    }

    /* Styles for headers */
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        margin: 10px 0; /* Add margin below headers */
    }

    /* Styles for code */
    .content .highlight {
        margin: 0.7rem 0;
        padding: 4px 6px; /* Add padding for code */
        border-radius: 10px; /* Add rounded corners */
    }
    .content img{
        display: block;
        margin: 0.3rem auto;
        border-radius: 10px;
    }
